@model IEnumerable<ArticleSystem.Web.Models.Home.ArticleViewModel>

    <h1>Articles</h1>
    <hr />

    <div class="row">
        @foreach (var item in Model)
        {

            <div class="col-md-4">
                <h2>@item.Name</h2>
                <p>
                    Price:
                    @item.Price
                </p>
                <p></p>
                <p><a class="btn btn-default" href="@Url.Action("Details", "Article", new {id=  item.Id })">Learn more &raquo;</a></p>
            </div>
        }
    </div>
