@model IEnumerable<ArticleSystem.Web.Models.Home.ArticleViewModel>
@{
    ViewBag.Title = "Home Page";
}



<div class="row">
    @foreach (var item in Model)
    {

        <div class="col-md-4">
            <h2>@item.Name</h2>
            <p>
                @item.Price
            </p>
            <p><a class="btn btn-default" href="">Learn more &raquo;</a></p>
        </div>
    }
</div>