

    @{
        ViewBag.Title = "Home Page";
    }

    <div class="jumbotron">
        <h1>My Articles</h1>
    </div>
    <div class="clearfix">
    @Html.ActionLink("View all articles...", "Index", "Article", null, new { @class = "btn btn-info pull-right" })
    </div>
