body {
    margin-top: 40px;
    padding-bottom: 20px;
    padding-top: 50px;
    word-wrap: break-word;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

::-webkit-input-placeholder {
 font-size: 14px;
 color: #d0cdfa;
 text-transform: uppercase;
 text-transform: uppercase;
 text-align: center;
 font-weight: bold;
}
 
.input-comment-field { 
 font-size: 14px; 
 color: #d0cdfa;
 text-transform: uppercase;
 text-align: center;
 font-weight: bold;
 height: 100px;
 width: 400px;
}

.comment {
    margin:10px 0;
    margin-left:40px;
    border-left: 3px solid red;
    background-color:#f5fffa 
}

.comment-content {
     
}
body img {
    max-width: 100%;
}

.gallery-thumbnail {
    width: 120px;
    opacity: 0.5;
    padding: 5px;
}

    .gallery-thumbnail:hover {
        opacity: 0.8;
    }

    .gallery-thumbnail.selected {
        opacity: 1;
        border: 1px dashed grey;
    }